<h6 class="text-center">Employee Register</h6><br/>
<table class="table table-sm table-hover">
   
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Action</th>    
    
 </tr>

  <tr *ngFor="let emp of bagList">
      <td>{{emp.name}}</td>
      <td>{{emp.position}}</td>
      <td>
        <a class="btn" (click)="onEdit(emp)">
          <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <a class="btn" (click)="onDelete(emp.$key)">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </td>
  </tr>
</table>
