<h6 class="text-center">Employee Register</h6><br/>

<div *ngFor="let emp of bagList">
    <h4>{{emp.position}}</h4>
</div>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" *ngFor="let emp of bagList">
     
     <li role="presentation"><a role="menuitem" href="#" (click)="onEdit(emp)">{{emp.position}}</a></li>
   
    </ul>
  </div>

<table class="table table-sm table-hover">
   
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Action</th>    
    
 </tr>

  <tr *ngFor="let emp of bagList">
      <td>{{emp.name}}</td>
      <td>{{emp.position}}</td>
      <td>
        <a class="btn" (click)="onEdit(emp)">
          <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <a class="btn" (click)="onDelete(emp.$key)">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </td>
  </tr>
</table>
