<form #computerForm="ngForm" (ngSubmit)="onSubmit(computerForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="ComputerService.selectedComputer.$key">
<div class="form-group">
  <label>Name</label>
  <input class="form-control" name="name" #name="ngModel" [(ngModel)]="computerService.selectedComputer.name" placeholder="Full Name" required>
</div>
<div class="form-group">
  <label>Version</label>
  <input class="form-control" name="version" #position="ngModel" [(ngModel)]="computerService.selectedComputer.version" placeholder="Version">
</div>
<div class="form-group">
  <label>Type</label>
  <input class="form-control" name="type" #office="ngModel" [(ngModel)]="computerService.selectedComputer.type" placeholder="type">
</div>
<div class="form-group">
  <label>Price</label>
  <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-dollar"></i>
      </div>
      <input class="form-control" name="price" #salary="ngModel" [(ngModel)]="computerService.selectedComputer.price" placeholder="price">
  </div>
</div>
<div class="form-group">
  <button class="btn btn-default" type="submit" [disabled]="!computerForm.valid">
    <i class="fa fa-floppy-o"></i>
     Submit</button>
  <button class="btn btn-default" type="button" (click)="resetForm(computerForm)">
    <i class="fa fa-repeat"></i>
     Reset</button>
</div>
</form>

        
