<form #bagForm="ngForm" (ngSubmit)="onSubmit(bagForm)">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="bagService.selectedBag.$key">
    
    <div class="row">
  
        <div class="col-md-6"> 
    <div class="form-group">
      <label>Rgistration Number</label>
      <input class="form-control" name="name" #name="ngModel" [(ngModel)]="bagService.selectedBag.name" placeholder="Full Name" required>
    </div>
  
    <div class="form-group">
      <label>Patient Name</label>
      <input class="form-control" name="position" #position="ngModel" [(ngModel)]="bagService.selectedBag.position" placeholder="Position">
    </div>
        </div>
  
  
  
              
              
              <div class="col-md-6"> 
                <div class="form-group">
                  <label>Rgistration Number</label>
                  <input class="form-control" name="name" #name="ngModel" [(ngModel)]="bagService.selectedBag.name" placeholder="Full Name" required>
                </div>
              
                <div class="form-group">
                  <label>Patient Name</label>
                  <input class="form-control" name="position" #position="ngModel" [(ngModel)]="bagService.selectedBag.position" placeholder="Position">
                </div>
                    </div>
  
    <div class="col-md-6"> 
        <div class="form-group">
        <label>Patient Address</label>
        <input class="form-control" name="name" #name="ngModel" [(ngModel)]="bagService.selectedBag.name" placeholder="Full Name" required>
    </div>
          
      <div class="form-group">
          <label>Material Status</label>
          <input class="form-control" name="position" #position="ngModel" [(ngModel)]="bagService.selectedBag.position" placeholder="Position">
      </div>
      </div>
  
      
  
    <div class="col-md-6"> 
        <div class="form-group">
          <label>Office</label>
          <input class="form-control" name="office" #office="ngModel" [(ngModel)]="bagService.selectedBag.office" placeholder="Office">
    </div>
      
    <div class="form-group">
          <label>Salary</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-dollar"></i>
            </div>
            <input class="form-control" name="salary" #salary="ngModel" [(ngModel)]="bagService.selectedBag.salary" placeholder="Salary">
          </div>
    </div>
  
        </div>
  
    </div>

    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" name="office" #office="ngModel" [(ngModel)]="bagService.selectedBag.office" placeholder="Office"  id="comment"></textarea>
      </div>
  
    <div class="container">
               
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
        </table>
      </div>
      
  
  
    <div class="form-group">
      <button class="btn btn-default" type="submit" [disabled]="!bagForm.valid">
        <i class="fa fa-floppy-o"></i>
        Submit</button>
      <button class="btn btn-default" type="button" (click)="resetForm(bagForm)">
        <i class="fa fa-repeat"></i>
        Reset</button>
    </div>
  
  <!--<div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
      <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
      </ul>
    </div>!-->
    
  </form>